@import url(font-family: 'Noto Sans Display', sans-serif;
font-family: 'Noto Sans Symbols', sans-serif;
font-family: 'Noto Serif Display', serif;);

* {
    box-sizing: flex-box;
}
body {
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Display";
    font-size:medium;
    background-color: white;

}
.content {
  background-color: white;
  padding-top: 5rem;
  
}
img {
    width: 100%;
    max-height: 300px;
    max-width: 250px;
}

.row {
    display: flex;
    width: 80%;
    padding-top: 0;
    padding-bottom: 2rem;
    margin-top: 0;
    justify-items: center;
  } 

.column {
    align-items: center;
}
h2 {
    text-align: center;
    margin-top: 0;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: large;
    background: linear-gradient(90deg, white, rgb(0,0,0,0.3), white);
    font-weight: lighter;
    font-size: medium;


}
hr {
    height: 0.5px;
    width: 100%;
    background-color: black;
    border-style: none;
    margin-bottom: 8px;

}
.menu {
    position: fixed;
    width: 100%;
    display: flex;
    background-color: rgb(0,0,0,0.3);
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 0;
    align-items: center;
    
  }
  ul {
    list-style: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    border: none;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    padding: 0;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    width: 180px;
  }
  #dropbtn {
    background-color: rgb(0,0,0,0);;
    border: none;
    color: white;
    font-weight: light;
    font-size: medium;
    padding-top: 0;


  }
  .dropdown-item {
    background-color: black;
    margin: 0;
    padding: 0.4rem 0.5rem;
  }
  a {
    color: white;
    text-decoration: none;
 
  }
  .row {
    align-items: center;
    justify-content: center;
    width: 100%;
    color: black;
    }
.title {
  margin-right: auto;
  margin-left: 0;
  padding-left: 0;
}
.imgLogo {
  z-index: 10;
  width: 120px;
}
footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgb(0,0,0,0.3);
  text-align: center;
  padding: 0.8rem;
}
footer > p {
  margin: 0.2rem;
}
.fotoYo {
  width: 800px;
  border-radius:150px;
  margin-right: 50px;
  margin-bottom: auto;
}
#columnaYo {
  justify-content: top;
}

.arriba {
  position: fixed;
  display: flex;
  right: 1rem;
  bottom: 2rem;
  color: orange;
  font-weight:bold;
}
